body {
  background-color: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin: 40px;
}

* {
  margin: 0;
  padding: 0;
}

.Main_container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: auto;
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.Main_content {
  width: 540px;
  padding: 100px 200px 100px 90px;
}

.Main_content h1 {
  margin-top: 19px;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
}

.Main_content h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.Main_content h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
}

.Main_content h4 {
  padding: 12px 0 11px 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.Main_content h5 {
  padding-bottom: 11px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.About_me {
  padding: 0px;
  text-align: justify;
}

.My_projects {
  margin-top: 40px;
  height: auto;
  left: 60px;
}

/*
.My_projects ol {
  padding: 8px 0 0 18px;
}

.My_projects li {
  font-weight: bold;
  color: #000;
}

*/

.My_projects table {
  padding: 8px 0 0 0;
  border-spacing: 0;
}

.My_projects a {
  padding-left: 13px;
  text-decoration: none;
  color: #595959;
}

.table_bold {
  font-weight: bold;
  color: #000;
}

.table_dot {
  margin-right: 5px;
  font-weight: normal;
  color: #a8a8a8;
}

.table_leng {
  font-weight: normal;
  color: #595959;
}

.My_work_expirientce {
  margin-top: 50px;
  text-align: justify;
}

.My_Education_section p,
.My_work_expirientce p {
  font-size: 12px;
  color: #a8a8a8;
}

.My_Education_section p span,
.My_work_expirientce p span {
  color: #000;
}

.My_work_expirientce span {
  color: #fb6d3a;
  text-align: start;
}

.My_work_expirientce ul {
  padding: 8px 0 6px 18px;
}

.My_Education_section {
  margin-top: 43px;
}

.My_Education_section h4 {
  color: #fb6d3a;
}

.Sidebar {
  padding: 40px 0;
  width: 370px;
  background-color: #1e2939;
  color: #fff;
  justify-content: right;
}

.Sidebar h3 {
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
}

.Sidebar a {
  padding-left: 10px;
  color: #fff;
  opacity: 0.5;
}

.Sidebar li {
  margin-left: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
}

.Sidebar span {
  color: #fff;
}

.My_contacts {
  margin-top: 50px;
  margin-left: 40px;
}

.My_Tech_Skills {
  margin-top: 47px;
  margin-left: 40px;
}

.My_Soft_Skills {
  margin-top: 44px;
  margin-left: 40px;
}
