body {
  background-color: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
}

li {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}
.About_me {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.Main_container {
  position: absolute;
  display: flex;
  flex-direction: row;
  margin: 40px;
  width: 1200px;
  height: 1320px;
  background-color: #ffffff;
}

.About_me_section {
  position: absolute;
  width: 500px;
  height: 230px;
  left: 500px;
  top: 140px;
}

.My_projects_section {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 500px;
  top: 410px;
}

.My_work_expirientce {
  position: absolute;
  width: 525px;
  height: 213px;
  left: 500px;
  top: 570px;
  font-size: 14px;
  background-color: coral;
}

.My_work_expirientce_3 {
  height: 213px;
  top: 570px;
}

.My_work_expirientce_2 {
  height: 150px;
  top: 801px;
}

.My_work_expirientce_1 {
  height: 126px;
  top: 969px;
}

.My_Education_section {
  position: absolute;
  width: 327px;
  height: 114px;
  left: 500px;
  top: 1138px;
}

.Sidebar_section {
  position: absolute;
  width: 370px;
  height: 1320px;
  background-color: #1e2939;
}

img {
  margin-top: 40px;
}

.My_contacts_section {
  margin-left: 40px;
}

.My_Tech_Skills_section {
  margin-left: 40px;
}

.My_Soft_Skills_section {
  margin-left: 40px;
}
